# Ver todos los niveles disponibles en la doc de monolog
LOG_LEVEL=DEBUG

# Path es relativo a la raíz del proyecto
LOG_PATH='/storage/logs/app.log'

#Configuracion de la base de datos
DB_ADAPTER=pgsql
DB_HOSTNAME=paw-prints-db
DB_DBNAME=pprints-db
# Completar con el username
DB_USERNAME=
# Completar con la contraseña
DB_PASSWORD=
DB_PORT=5432
DB_CHARSET=utf8
