# Ver todos los niveles disponibles en la doc de monolog
LOG_LEVEL=DEBUG

# Path es relativo a la raíz del proyecto
# (Deprecado en docker)
# LOG_PATH='/storage/logs/app.log'

#Configuracion de la base de datos
DB_ADAPTER=pgsql
DB_HOSTNAME=filmatrix-db
DB_DBNAME=filmatrix-db
# Completar con el username
DB_USERNAME=
# Completar con la contraseña
DB_PASSWORD=
DB_PORT=5432
DB_CHARSET=utf8

# TMDB
TMDB_READ_ACCESS_TOKEN=tu-access-token

# Cache TTL in days (default 30)
TMDB_CACHE_TTL_DAYS=30

APP_ENV=development
# NOTE -- LIFETIME NUNCA debe ser mayor a GC_MAXLIFETIME
SESSION_LIFETIME=0
SESSION_GC_MAXLIFETIME=86400
# TODO -- implment remember me functionality
# REMEMBER_ME_LIFETIME=2592000

APP_URL= https://filmatrix.com (RAILWAY por ejemplo)